<div class="container">
    <h2>Catálogo de Imagenes</h2>

    <div class="col-sm-4">
        <form (ngSubmit)="saveImagen(imgForm.value)" [formGroup]="imgForm">
            <input type="hidden" formControlName="id" />

            <label for="descripción">Descripción</label>
            <input type="text" class="form-control" formControlName="descripcion" />

            <label for="url">Url de la imagen</label>
            <input type="text" class="form-control" formControlName="url" />

            <p></p>

            <input type="submit" class="btn btn-primary" [disabled]="!imgForm.valid" value="Guardar">
        </form>
    </div>

    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let imagen of imagenes">
                <img [src]="imagen.data.url" width="300" />
                <p>{{imagen.data.descripcion}}</p>
                <button type="button" class="btn btn-success" (click)="editarImagen(imagen.id)">
                    Editar
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteImagen(imagen.id)">
                    Eliminar
                </button>
            </li>
        </ul>
    </div>

</div>
